<% @page_title = "Delete Location" %>

<%= link_to("<< Back to List", {action: 'all'}, class: 'back-link') %>

<div class="">
  <h2> Delete Location</h2>

  <%= form_for(:loc, url: {action: 'destroy_pub', id: @loc.id}) do |f| %>

  <p> Are you sure you want to permanently delete this location?</p>
  <p class="reference-name"><%= @loc.name %></p>
  <div class="form-buttons">
    <%= submit_tag("Delete Location") %>
  </div>

  <% end %>
</div>