/*Admin stylesheet - GO THROUGH THIS */
/* 
.menu .identity {text-align: center;}
.menu ul {margin: 3em 250px; list-style: none;}
.menu ul li { margin-bottom: 1em;}


/*CRUD*/

/* .back-link { font-size: 0.8em; margin-bottom: 1em; }


.index table {clear: both; width: 100%;}
.index table tr td {border: 1px solid grey;}
.edit table, .new table {margin: 0 auto;}

.section + .section { padding-top: 0.5em; margin-top: 0.5em; border-top: 1px dotted grey; } */

