/* Styles for Flash Notices and Alerts */

/* Flash Notice for Messages */
.notice { 
  height: 2em; 
  padding: 0.5em; 
  text-align: center; 
  background: $alertGreen; 
  color: $white; 
}
.notice_header { 
  height: 2em; 
  padding: 0.5em; 
  text-align: center; 
  background: $alertGreen; 
  color: $white; 
  margin-top: 4em;
}