
#main { 
  padding: 4em 0 2em 0;
  min-height: 30em; 
  background: $greyLight; 
}
.main_cta { /* call to action on index */
  text-align: center;
  padding: 3em 0 5em 0;
}
#main h1 {
  text-align: center;
  color: $primaryColor;
}
#main h3 {
  line-height: 2;
  padding: 0 3em;
  font-size: 150%;
}
/* primary blocks */
.loc_each_container_index {
  @extend .loc_each_container;
  margin-bottom: 5em;
}
.index_images_container {
  display: flex; /* equidistant boxes */
  flex-wrap: wrap; /* equidistant boxes */
  align-items: center; /* equidistant boxes */
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.index_city_boxes {
  border: 1px $white solid; 
  @include border-radius(7px);
  padding: 5em; 
  display: inline-block;
  margin: 2em; 
  width: 260px;
  height: 380px;
  position: relative;  /* needed for text span */
}
.index_city_boxes:hover { 
  border: 1px $greyPrimary solid; 
}
/* Boxes Text Styles */
.index_city_boxes span {
  color: $white;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 1px 1px rgba(97, 97, 97, 0.7);
  position: absolute; /* needed to set text span below */
  top: 0; left: 0;
}

/* Home Page Images - change image name as cities change */
.box1 { background-image: image-url('index_city_pdx.jpg') } /* Portland */
.box1 span { top: 85%; left: 10%;  }

.box2 { background-image: image-url('index_city_sea.jpg') } /* Seattle */
.box2 span { top: 10%; left: 55%; }

.box3 { background-image: image-url('index_city_sf.jpg') } /* San Francisco */
.box3 span { top: 85%; left: 25%; }

.box4 { background-image: image-url('index_city_bend.jpg') } /* Bend */
.box4 span { top: 55%; left: 65%; }

.box5 { background-image: image-url('index_city_den.jpg') } /* Denver */
.box5 span { top: 85%; left: 10%; }

.box6 { background-image: image-url('index_city_hnl.jpg') } /* Honolulu */
.box6 span { top: 55%; left: 45%; }
