<!-- Footer -->
    <footer class="inner_container_footer">
		<div class="footer">
		<div class="footer_links">
  		<!--
  		<div class="footer_links_each">
  			<b>MORE</b><br>
  			<a href="">Join our Newsletter</a><br>
  		</div>
  		<div class="footer_links_each">
  			<b>COMPANY</b><br>
  			<a href="">Contact Us</a><br>
  			<a href="">About Us</a><br>
  		</div>
  		<div class="footer_links_each"><a href="/">
  			Home</a>
  		</div>
  		-->
        </div>
        <p>Made with <span class="heart">&#9825;</span> in Bend, Oregon &copy; <%= Time.now.strftime("%Y") %>
        </p>	
      </div>	
    </footer>
  </body>
</html>