<!-- Header Panel -->
<header class="header_container"> <!-- 90% width -->
  <!-- Search -->
  <div class="inner_search_container">
  <h1>Find a location to work remotely</h1>

<!-- Primary Selection Tool -->
  <div class="index_select">
	  <select onchange="window.location=this.value" class="main_search_field" id="menu" size = "1">
	    <option>Select a City</option>
	    <% @cities.each do |c| %> 
	      <option value="city/<%= c.permalink %>"><%= c.name %></option>
	    <% end %>
	  </select>
    </div>
  </div>
</header>

<!-- pulldown script -->
<script>
document.getElementById('menu').addEventListener('click', onClickHandler);
document.getElementById('menu').addEventListener('touchmove', onClickHandler);
document.getElementById('menu').addEventListener('mousedown', onMouseDownHandler);

function onMouseDownHandler(e){
	var m = e.currentTarget;
	
    if(m.hasAttribute('size') && m.getAttribute('size') == '1'){
    	e.preventDefault();    
    }
}
function onClickHandler(e) {
 	var m = e.currentTarget; 

    if (m.getAttribute('size') == '1') {
        m.className += " selectOpen";
        m.setAttribute('size', '8');
    }
    else {
        m.setAttribute('size', '1');
    }
}
</script>