
<!-- Header Panel -->
<header class="header_container"> <!-- 90% width -->
  <!-- Search -->
  <div class="inner_search_container">
  <h1>Find a location to work remotely</h1>

<!-- Primary Selection Tool -->
<select onchange="window.location=this.value" class="main_search_field">
	<option>Select a City</option>
	<% @cities.each do |c| %> 
		<option value="city/<%= c.permalink %>"><%= c.name %></option>
	<% end %>
</select>


  </div>
</header>