
<!-- Header Panel -->
<header class="header_container"> <!-- 90% width -->
  <!-- Search -->
  <div class="inner_search_container">
  <h1>Find a location to work remotely</h1>

  <%#= select("post", "", @cities.name, {include_blank: 'Select a City'}) %>
  <%= collection_select(:city_id, 0, City.visible, :id, :name) %>

  <%# @cities.each do |c| %> 
    <%#= c.name %>
  <%# end %>

  </div>
</header>