<!-- Top Nav Bar -->
<header id="headerNav" class="headerNav">
  <nav class="container">
    <div id="headerLogo" class="headerLogo">Remote Loc</div><!-- place holder -->
      <div id="headerLinks">
        top nav bar
      </div>
  </nav>
</header>