<!-- Header Partial -->
<div id="header"><%= render(:partial => 'layouts/header') %></div>
<div id="header"><%= render(:partial => 'layouts/header_each') %></div>

<div id="main">
<!-- 	<div id="navigation">
		<%#= render(:partial => 'layouts/navigation', :locals => {:states => @states}) %>
	</div> -->
	<div class="inner_container"> <!-- width 90% -->
		<!-- before yield -->
		<%= yield %>
		<!-- after yield -->
	</div>
</div>
<div class="clear"></div>

<!-- Footer Partial -->
<div id="footer"><%= render(:partial => 'layouts/footer') %></div>